@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-exo: var(--exo_font);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  @apply text-gray-900;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.container{
  @apply max-w-[1200px] mx-auto px-5 md:px-10
}
.link{
  @apply cursor-pointer hover:underline transition-all duration-500
}
.active{
  @apply underline font-bold
}
.btn {
  @apply bg-green-400 text-white font-bold py-2 px-4 rounded;
}
.fadeIn{
  animation : fadeIn .5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* css for carousel  */
.embla {
  /* max-width: 28rem; */
  /* border: 1px solid #ccc; */
  margin: auto;
  /* --slide-height: 19rem; */
  --slide-spacing: 1rem;
  --slide-size: 70%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  gap: 0 var(--slide-spacing);
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  max-width: 400px;
  margin: 0 3px;
}

